QFrame
{
    background-color: rgb(42, 42, 42);
}

QComboBox
{
    background-color: rgb(62, 62, 62);
}

QPushButton
{
    background-color: rgb(42, 42, 42);
}

QLineEdit
{
    background-color: rgb(62, 62, 62);
}

QCheckBox::indicator
{
	width: 18px;
	height: 18px;
}

QCheckBox::indicator:checked
{
    image: url(ICON_DIRNAME/check_box_checked_white.png);
}
QCheckBox::indicator:unchecked
{
    image: url(ICON_DIRNAME/check_box_unchecked_white.png);
}
